# Import Modules

In [1]:
import warnings
import pandas as pd
from credentials import *
from Queries.sf_sample_data import *
from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

# Options and Settings

In [2]:
%matplotlib inline
warnings.simplefilter("ignore")

# Helper Functions

In [3]:
def fetch_data(sql_query: str, **db_parameters) -> pd.DataFrame:
    """
    Fetch data from SnowFlake Data Warehouse

    https://github.com/snowflakedb/snowflake-sqlalchemy#escaping-special-characters-such-as---signs-in-passwords

    Parameters
    ----------

    sql_query: str
        sql statement to execute

    db_parameters: dict
        database parameters to pass

    Returns:
        Pandas dataframe

    """
    try:
        engine = create_engine(URL(**db_parameters))
        results = engine.connect().execute(statement=sql_query).fetchall()
        return pd.DataFrame(results)
    
    except Exception as err:
        return f"An error occurred: {err}"
    
    finally:
        engine.connect().close()
        engine.dispose()

# Fetch Data

In [4]:
db_name = "SNOWFLAKE_SAMPLE_DATA"
schema_name = "TPCH_SF1"
wh_name = "COMPUTE_WH"

df = fetch_data(
                 account = SF_ACCOUNT, 
                 user = SF_USERNAME, 
                 password = SF_PASSWORD, 
                 database = db_name, 
                 schema = schema_name, 
                 warehouse = wh_name, 
                 role=SF_ROLE, 
                 sql_query=query1
               )

# View DataFrame

In [5]:
df.head()

,customer_key,mktsegment,orderkey,orderdate,orderstatus,orderpriority,totalprice
0,1,BUILDING,5133509.0,1996-07-01,O,1-URGENT,174645.94
1,1,BUILDING,579908.0,1996-12-09,O,5-LOW,54048.26
2,1,BUILDING,3868359.0,1992-08-22,F,5-LOW,123076.84
3,1,BUILDING,4808192.0,1996-06-29,O,2-HIGH,65478.05
4,1,BUILDING,4273923.0,1997-03-23,O,3-MEDIUM,95911.01

In [6]:
df.tail()

,customer_key,mktsegment,orderkey,orderdate,orderstatus,orderpriority,totalprice
1549999,149999,AUTOMOBILE,2009601.0,1995-11-16,O,3-MEDIUM,329578.68
1550000,149999,AUTOMOBILE,94817.0,1992-08-02,F,4-NOT SPECIFIED,211382.23
1550001,149999,AUTOMOBILE,5323939.0,1994-03-05,F,2-HIGH,212230.94
1550002,149999,AUTOMOBILE,3775524.0,1995-06-09,O,2-HIGH,11414.72
1550003,150000,AUTOMOBILE,NaN,None,None,None,NaN