# Import Modules

In [1]:
import os
import pandas as pd
from credentials import *
import snowflake.connector
from Queries.TPCH_SF1_ORDERS import *

c:\Users\ASANTE\miniconda3\envs\SNOWFLAKE\lib\site-packages\snowflake\connector\options.py:108: UserWarning: You have an incompatible version of 'pyarrow' installed (12.0.1), please install a version that adheres to: 'pyarrow<10.1.0,>=10.0.1; extra == "pandas"'
  warn_incompatible_dep(
Failed to import ArrowResult. No Apache Arrow result set format can be used. ImportError: DLL load failed while importing arrow_iterator: The specified procedure could not be found.

# Helper Functions

In [2]:
def fetch_data(user: str, password: str, account: str, warehouse: str, database: str, schema: str, sql_query, col_names) -> pd.DataFrame:
    """
    Fetches data from a Snowflake database and returns it as a Pandas DataFrame.

    Parameters

    user: str
      name of snowflake user

    password: str
      password of snowflake user

    account: str
      id of account holder

    warehouse: str  
      name of snowflake warehouse
          
    database: str
      database name

    schema: str
      schema name

    sql_query: str
        query to execute

    col_names: list[str]
        column names to use

    Returns:
        result as pandas dataframe
    
    """
    try:
        conn = snowflake.connector.connect(user=user, password=password, account=account, warehouse=warehouse, database=database, schema=schema)
        results = conn.cursor().execute(f"{sql_query}").fetchall()
        print("Query executed successfully!")

        return pd.DataFrame(results, columns=col_names)
    
    except snowflake.connector.errors.Error as e:
        return f"Error executing query: {e}"

# Fetch Data

In [3]:
column_names = ['orderkey', 'custkey', 'orderstatus', 'totalprice', 'orderdate', 'orderpriority']

df = fetch_data(USERNAME, PASSWORD, ACCOUNT_ID, WAREHOUSE, DATABASE, SCHEMA, query1, column_names)

Query executed successfully!

# View DataFrame

In [4]:
df

         orderkey  custkey orderstatus totalprice   orderdate    orderpriority
0         4200003   141613           O  150849.49  1997-11-24  4-NOT SPECIFIED
1         4200006    49576           F  263616.19  1993-12-31            5-LOW
2         4200066     7693           O   57843.63  1995-06-02  4-NOT SPECIFIED
3         4200068    55922           F   90606.11  1994-10-29         3-MEDIUM
4         4200736   114686           F   11841.58  1994-01-11           2-HIGH
...           ...      ...         ...        ...         ...              ...
1499995   5999814    74857           O   58841.12  1997-01-04           2-HIGH
1499996   5999840   134002           F   19583.88  1993-10-20           2-HIGH
1499997   5999905    40673           F   77338.44  1994-01-09           2-HIGH
1499998   5999968    12896           F  354575.46  1992-12-24         3-MEDIUM
1499999   5997382    61381           O  102683.56  1995-06-13           2-HIGH

[1500000 rows x 6 columns]